#todo-error{
  color: red;
  font-size: 2em;
}

#bg-image{
  background-size: cover;
  background-repeat: no-repeat;
}
.empty-row{
  height: 200px;
}
#todos{
  color: white;
  text-shadow: 0px 1px 1px black;
}

.todo-count{
  color: white;
  text-shadow: 0px 1px 1px black;
}
.fa-trash-alt{
  cursor: pointer;
}
.fa-pencil-alt{
  cursor: pointer;
}
.form-check-input{
  cursor: pointer;
}
.todo-line{
  cursor: pointer;
}

#author{
  visibility: hidden;
}

#quote:hover  #author{
  color: burlywood;
  text-shadow: 0px 1px 1px white;
  visibility: visible;
}

#quote{
  font-size: 30pt;
  color: white;
  text-shadow: 0px 1px 1px black;
  font-family: 'Kaushan Script', cursive;

}

#weather{
text-shadow:
		-1px -1px 0 white,
		1px -1px 0 white,
		-1px 1px 0 white,
		1px 1px 0 white;
}

.date{
  color: green;
text-shadow: 0px 2px 2px black;
font-size: 18pt;
}
.clock{
  font-size: 40pt;
  color: white;
  text-shadow: 		
  -1px -1px 0 black,
		1px -1px 0 black,
		-1px 1px 0 black,
		1px 1px 0 black;
}

.check-if{
  font-size: 9pt;
}

